@page  "/aboutus"

<div class="container">
    <h2>
        Đồng sáng lập
        <code>Webassembly</code>
    </h2>
        <p>Thông tin cá nhân</p>
        <div class="card" style="width:300px">
            <img class="card-img-top" src="img/Huy tóc dài.jpg" alt="Huy tây balo" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Đoàn Quang Huy</h4>
                <p class="card-text">Huy Cận - Nhà thơ hiện đại</p>
                <a href="https://www.facebook.com/quanghuybest2k2" class="btn btn-primary" target="_blank">Facebook</a>
            </div>
        </div>
        <br>

        <p>Thông tin cá nhân</p>
        <div class="card" style="width:300px">
            <div class="card-body">
                <h4 class="card-title">Trần Nhật Duật</h4>
                <p class="card-text">Duật Sến - Đại tướng thời nhà Trần</p>
                <a href="https://www.facebook.com/tran.duat.2368" class="btn btn-primary" target="_blank">Facebook</a>
            </div>
            <img class="card-img-bottom" src="img/Duật.jpg" alt="Duật sến" style="width:100%">
        </div>
</div>

@code {

}