@page "/bubblesortjs"
@inject IJSRuntime JsRuntime
<h3>Thuật toán Bubble Sort</h3>
<button class="btn btn-primary" @onclick="showAlert">Click me</button>

@code {
   
    async Task showAlert()
    {
        await JsRuntime.InvokeVoidAsync(identifier:"testJS");
    }
}

