<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Công cụ tính toán</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tinhtienlai">
                <span class="oi oi-calculator" aria-hidden="true"></span> Tính tiền lãi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tinhkhoanvay">
                <span class="oi oi-calculator" aria-hidden="true"></span> Tính khoản vay
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="currency">
                <span class="oi oi-transfer" aria-hidden="true"></span> Chuyển đổi tiền tệ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bubblesort">
                <span class="oi oi-sort-ascending" aria-hidden="true"></span> BubbleSort WASM
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="aboutus">
                <span class="oi oi-person" aria-hidden="true"></span> Về chúng tôi
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
